h1{
   font-size: 40px;
   text-decoration: underline red;
   margin-bottom: 50px;
}
span{
   color: red;
}
main{
   width: 80%;
   margin: auto;
   background-color: antiquewhite;
   height: 800px;
}
.calc{
   background-color: aqua;
   width: 60%;
   height: 80%;
   margin: auto;
   display: flex;
   flex-direction: column;
}
#screen{
   background-color: aliceblue;
   height: 16%;
   width: 70%;
   margin: auto;
   padding: 2%;
   display: flex;
   justify-content: space-between;
}
h2{
   color: black;
   font-size: 36px;
}
#buttons{
   background-color: bisque;
   width: 70%;
   height: 60%;
   margin: auto;
   display: flex;
   flex-direction: column;
   padding: 2%;
}
.row{
   display: flex;
   width: 80%;
   height: 80%;
   align-items: center;
   margin: auto;
   justify-content: space-between;
}
button{
   width: 22%;
   height: 80%;
   color: black;
   font-size: 150%;
   font-weight: bolder;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
}
